---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for page in collections.all -%}
  {%- if page.url -%}
    {%- if page.url != "/sitemap.xml" -%}
      {%- if page.url != "/404.html" -%}
        {%- set hasJson = false -%}
        {%- if ".json" in page.url -%}
          {%- set hasJson = true -%}
        {%- endif -%}
        {%- set hasReadme = false -%}
        {%- if "/README" in page.url or "/readme" in page.url -%}
          {%- set hasReadme = true -%}
        {%- endif -%}
        {%- if not hasJson and not hasReadme -%}
          {%- set cleanUrl = page.url | replace("/fluance-io", "") -%}
          {%- set fullUrl = "https://cedricv.com" + cleanUrl -%}
          {%- if page.date -%}
            {%- set lastmod = page.date | date("YYYY-MM-DD") -%}
          {%- else -%}
            {%- set lastmod = "now" | date("YYYY-MM-DD") -%}
          {%- endif -%}
          {%- set changefreq = "monthly" -%}
          {%- if cleanUrl == "/" -%}
            {%- set changefreq = "weekly" -%}
          {%- endif -%}
          {%- if cleanUrl == "/fr/" -%}
            {%- set changefreq = "weekly" -%}
          {%- endif -%}
          {%- if cleanUrl == "/en/" -%}
            {%- set changefreq = "weekly" -%}
          {%- endif -%}
          {%- set priority = "0.6" -%}
          {%- if cleanUrl == "/" -%}
            {%- set priority = "1.0" -%}
          {%- endif -%}
          {%- if cleanUrl == "/fr/" -%}
            {%- set priority = "1.0" -%}
          {%- endif -%}
          {%- if cleanUrl == "/en/" -%}
            {%- set priority = "1.0" -%}
          {%- endif -%}
          {%- if "/a-propos/" in cleanUrl -%}
            {%- set priority = "0.8" -%}
          {%- endif -%}
  <url>
    <loc>{{ fullUrl }}</loc>
    <lastmod>{{ lastmod }}</lastmod>
    <changefreq>{{ changefreq }}</changefreq>
    <priority>{{ priority }}</priority>
    {%- if page.data.locale == "fr" -%}
      {# Utiliser le champ translation si disponible, sinon générer automatiquement #}
      {%- if page.data.translation -%}
        {%- set enUrl = page.data.translation -%}
      {%- elif "/fr/" in cleanUrl -%}
        {%- set enUrl = cleanUrl | replace("/fr/", "/en/") -%}
      {%- else -%}
        {%- set enUrl = "/en" + cleanUrl -%}
      {%- endif -%}
      {%- if enUrl != cleanUrl and enUrl != "/en/" -%}
    <xhtml:link rel="alternate" hreflang="fr" href="{{ fullUrl }}" />
    <xhtml:link rel="alternate" hreflang="en" href="https://cedricv.com{{ enUrl }}" />
      {%- endif -%}
    {%- endif -%}
    {%- if page.data.locale == "en" -%}
      {# Utiliser le champ translation si disponible, sinon générer automatiquement #}
      {%- if page.data.translation -%}
        {%- set frUrl = page.data.translation -%}
      {%- elif "/en/" in cleanUrl -%}
        {%- set frUrl = cleanUrl | replace("/en/", "/") -%}
        {%- if frUrl == "" -%}
          {%- set frUrl = "/" -%}
        {%- endif -%}
      {%- else -%}
        {%- set frUrl = cleanUrl -%}
      {%- endif -%}
      {%- if frUrl != cleanUrl and frUrl != "/fr/" -%}
    <xhtml:link rel="alternate" hreflang="en" href="{{ fullUrl }}" />
    <xhtml:link rel="alternate" hreflang="fr" href="https://cedricv.com{{ frUrl }}" />
      {%- endif -%}
    {%- endif -%}
  </url>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</urlset>
